<div>
    <input [(ngModel)]="searchTitle" placeholder="Enter Content Title" />
    <button (click)="checkContentExists()">Search</button>
    <div [ngStyle]="{'color' : contentExists ? 'green' : 'red'}">
      {{ message }}
    </div>
  </div>
  
  <app-create-content (createContent)="onContentCreated($event)"></app-create-content>
  <div>
    <div *ngFor="let content of contentItems">
      <app-content-card [contentItem]="content"></app-content-card>
    </div>
  </div>

<!-- <input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check Movies</button> -->

<!-- Display search result message -->
<!-- <p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<section>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | typereact: ''" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Fictional</h1>
<app-content-card *ngFor="let contentItem of contentItems | typereact: 'Fictional'" [contentItem]="contentItem"></app-content-card>
</section>
<section>
<h1>Non-Fictional</h1>
<app-content-card *ngFor="let contentItem of contentItems | typereact: 'Non-Fictional'" [contentItem]="contentItem"></app-content-card>
</section> -->