.content-card {
    border: 1px solid #333;
    padding: 13px;
    margin: 13px;
  }
  
  .first-item {
    border: 2px solid #333;
    padding: 17px;
    margin: 19px;
  }
  section{
    background-color: cyan;
    color: red;
  }
  section:nth-of-type(2){
    background-color:maroon;
    color:magenta;
  }
  section:last-of-type{
    background-color:mediumspringgreen;
    color: midnightblue;
  }