
  .message-heading {
    color: darkblue;
  }
  
  .clear {
    background-color: black;
    color: gray;
   
  }
  
  .clear:hover {
    background-color: darkred;  
  }
  
  
  .message {
    background-color:purple;
   
  }
  