<div class="content-card" [ngClass]="{
    'fictional': contentItem.type === 'Frictinal',
    'non-fictional': contentItem.type === 'Non-Fictional',
    'unspecified': !contentItem.type
  }">
  
  <img [src]="contentItem.imgURL" *ngIf="contentItem.imgURL; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="200px" width="150px">
  <ng-template #defaultImage>
    <img src="https://tse3.explicit.bing.net/th?id=OIP.VOJZZaMxRH-xdOhT7Ucu8AAAAA&pid=Api&P=0&h=180" height="200px" width="250px">
  </ng-template>
          <h2>{{ contentItem.title }}</h2>
          <p><strong>Description:</strong> {{ contentItem.description }}</p>
          <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
          <p *ngIf="contentItem.type" appHoverAffect [effect]="'underline'"><strong>Type: </strong>{{ contentItem.type }}</p>
      <p *ngFor="let tag of contentItem.tags" appHoverAffect><strong>Tags:</strong>{{ tag }}</p>
      </div>